/*页眉区与导航区*/
@media screen and (min-width: 980px) {
  body .page__container {
    width: 950px;
  }
  body .page__content {
    -ms-flex: 1;
    flex: 1;
  }
}
@media screen and (min-width: 1280px) {
  body .page__container {
    width: 1250px;
  }
}
.page {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.page__container {
  -ms-flex: 1;
  flex: 1;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 736px) {
  body .page__navbar {
    height: 60px;
  }
  body .page__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform-origin: top;
    transform: translateY(-20%) scaleY(0.8);
    opacity: 0;
    z-index: -1;
    display: none;
  }
  body .page__nav .nav__list {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 15px;
  }
  body .page__nav .nav__item {
    float: none;
    text-align: right;
    margin-top: 10px;
  }
  body .page__nav .nav__item > a {
    height: 40px;
    line-height: 40px;
  }
  body .page__logo {
    margin: 0;
  }
}
.page__header {
  display: block;
  position: relative;
  height: 650px;
  background: center no-repeat;
  background-size: cover;
  color: #fff;
}
.page__header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(64, 84, 90, 0.6);
}
.page__navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  height: 90px;
  transition: height 0.3s;
  z-index: 100;
}
.page__navbar .navbar-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.page__logo {
  display: block;
  height: 60px;
  line-height: 60px;
  margin: 15px 0;
  text-align: center;
  transition: margin 0.3s;
  font-size: large;
}
.page__nav {
  transition: transform 0.3s, opacity 0.3s;
}
.page__nav .nav__list {
  margin: 0;
  padding: 0;
  border-color: transparent;
  transition: border-color 0.3s;
}
.page__nav .nav__item {
  float: left;
  list-style: none;
}
.page__nav .nav__item > a {
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  font-size: inherit;
  text-decoration: none;
  transition: color 0.3s;
  color: #fff;
}
.page__nav .nav__item > a:hover {
  color: #19abd6;
}
.page__info {
  position: absolute;
  left: 0;
  top: calc(50% + 45px);
  transform: translateY(-50%);
  display: block;
  width: 100%;
  text-align: center;
}
.page__info .info__title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}
.page__info .info__hr {
  margin: 20px auto;
  height: 2px;
  width: 160px;
  border: 0;
  color: #19abd6;
  background: #19abd6;
  background: linear-gradient(to right, #19abd6 35%, #3ac0e8 100%);
}
.page__info .info__desc {
  font-size: 14px;
}

.inner {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.jiange {
  background-color: white;
  height: 60px;
}

/*内容区*/
.portfolio-listing {
  overflow: hidden;
}
.portfolio-listing a {
  color: #999;
  text-decoration: none;
}
.portfolio-listing a:hover .background-box:before {
  opacity: 0.2;
}
.portfolio-listing ul {
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.portfolio-listing ul li {
  width: 100%;
  list-style: none;
  margin: 0 0 40px;
}
@media (min-width: 480px) {
  .portfolio-listing ul li {
    width: calc(50% - 10px);
    list-style: none;
    margin: 0 20px 40px 0;
  }
  .portfolio-listing ul li:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .portfolio-listing ul li {
    width: calc(50% - 15px);
    margin: 0 30px 80px 0;
  }
  .portfolio-listing ul li:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .portfolio-listing ul li {
    width: calc(33.33% - 20px);
    margin: 0 30px 80px 0;
  }
  .portfolio-listing ul li:nth-child(2n) {
    margin-right: 30px;
  }
  .portfolio-listing ul li:nth-child(3n) {
    margin-right: 0;
  }
}
.portfolio-listing .background-box {
  width: 100%;
  padding-bottom: 100%;
  background-color: #4d4d4d;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.6em;
  position: relative;
}
.portfolio-listing .background-box:before {
  width: 100%;
  padding-bottom: 100%;
  content: "";
  display: block;
  background-color: #4d4d4d;
  position: absolute;
  transition: opacity 0.2s linear;
  top: 0;
  opacity: 0.4;
}
.portfolio-listing .background-box .logo-box {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.portfolio-listing .background-box .logo {
  max-width: 200px;
  text-align: center;
}
@media (min-width: 480px) {
  .portfolio-listing .background-box .logo {
    max-width: 160px;
  }
}
@media (min-width: 1024px) {
  .portfolio-listing .background-box .logo {
    max-width: 300px;
    padding: 0 5em;
  }
}
.portfolio-listing .background-box .logo img {
  width: 100%;
  display: block;
  max-width: 120px;
}
.portfolio-listing .portfolio-title h2 {
  margin: 0 0 0.3em;
}
.portfolio-listing .portfolio-title p {
  font-size: 1em;
  margin: 0;
  font-style: normal;
  text-indent: 2em;
}
.portfolio-listing-logo {
  font-size: 70px;
  font-style: oblique;
}
@media screen and (max-width: 980px) {
  body .footer__bottom {
    padding: 30px 0;
  }
  body .footer__container {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .footer__copyright {
    margin-bottom: 10px;
  }
}

/*页脚区*/
.footer__top {
  padding: 30px 0;
  background-color: #242f35;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}
.footer__top .footer__container {
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer__bottom {
  display: block;
  background-color: #2d383e;
  color: #fff;
  padding: 10px 0;
}
.footer__bottom a {
  font-size: inherit;
  text-decoration: none;
  transition: color 0.3s;
  color: #fff;
}
.footer__bottom a:hover {
  color: #19abd6;
}
.footer__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.footer-top__item,
.footer-top__item--2 {
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  padding: 0 15px 15px;
}
.footer-top__item--2 {
  -ms-flex: 2;
  flex: 2;
}
.footer-top__item .item__title,
.footer-top__item--2 .item__title {
  color: #a4b1bf;
  font-size: 18px;
  margin: 30px 0;
  text-transform: capitalize;
}
.footer-top__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-top__list .list-item + .list-item {
  margin-top: 12px;
}
.footer-top__list .list-item > a {
  font-size: inherit;
  text-decoration: none;
  transition: color 0.3s;
  color: #fff;
}
.footer-top__list .list-item > a:hover {
  color: #19abd6;
}
.footer__contact-info {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}
.footer__contact-info .contact-info__item {
  color: #69747a;
  font-size: 12px;
}
.footer__contact-info .contact-info__item + .contact-info__item {
  margin-top: 10px;
}
.footer__contact-info .contact-info__item i {
  font-size: 28px;
  margin-right: 5px;
  vertical-align: middle;
}
.footer__contact-info .contact-info__item span {
  vertical-align: middle;
}
.footer__image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.footer__image > img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 160px;
  margin-top: 30px;
}
.footer__copyright {
  margin: 0;
  font-size: 12px;
  text-align: center;
}




